{% extends "base.njk" %}

{% block content %}
    <div class="project-layout">
        <h2>{{title}}</h2>
        <img src="{{image}}" alt="image" class="banner-img" />
        <a href="{{projectURL}}" class="cta-btn pt-btn" target="_blank">
            <div class="small-icons">
                Link <i class="fa-solid fa-link"></i>
            </div>
        </a>
        <a href="{{githubURL}}" class="cta-btn pt-btn" target="_blank">
            <div class="small-icons">
                GitHub <i class="fa-brands fa-github"></i>
            </div>
        </a>
        {{ content | safe }}
    </div>
{% endblock %}