<div class="contact-container">
    <h2>Get In Touch</h2>
    <p>If you'd like to work with me, ask a question, or have me write an article or tutorial for you, send me an email by clicking the button below!</p>
    <a href="mailto:charity@charitygamble.dev" class='cta-btn'>Say Hello</a>
</div>