<hr>
<div class="footer-container">
    <p> &copy; 2023 Charity Gamble</p>
    <div class="social-icons">
        <a href="https://x.com/cgambledev"
           aria-label="X"
           target="_blank"
           rel="noopener noreferrer">
           <i class="fa-brands fa-x-twitter"></i>
        </a>
        <a href="https://github.com/charlibydesign"
           aria-label="github"
           target="_blank"
           rel="noopener noreferrer">
           <i class="fa-brands fa-github"></i>
        </a>
        <a href="https://linkedin.com/in/charitygamble"
           aria-label="LinkedIn"
           target="_blank"
           rel="noopener noreferrer">
           <i class="fa-brands fa-linkedin"></i>
        </a>
    </div>
</div>