<div class="hero-container">
    <img src='assets/profile.jpeg' class="profile-img" alt="Charity's personal headshot" />
    <div class="hero-text">
        <h1>Hey, I'm Charity 👋</h1>
        <p>
            I'm a front-end web developer based in Colorado Springs, CO. I specialize in building (and occasionally designing) exceptional websites and blogs.
        </p>
        <div class="social-icons">
            <a href="https://twitter.com/cgambledev">
                <i class="fa-brands fa-x-twitter"></i>
            </a>
            <a rel="me" href="https://mastodon.social/@cgambledev">
            <i class="fa-brands fa-mastodon"></i>
            </a>
            <a href="https://github.com/charitygamble">
                <i class="fa-brands fa-github"></i>
            </a>
            <a href="https://www.linkedin.com/in/charitygamble/">
                <i class="fa-brands fa-linkedin"></i>
            </a>
        </div>
    </div>
</div>