<div class="nav-container">
    <div class="logo">
        <a href="/"> Charity Gamble </a>
    </div>
    <div class="nav">
        <a href="/projects" class="link">Projects</a>
        <a href="/assets/CharityGambleResume.pdf" class="cta-btn" target="_blank">Resume</a>
    </div>
</div>

    