<div class="nav-container">
    <div class="logo">
        <a href="/"> Charity Gamble </a>
    </div>
    <div class="nav">
        <a href="/projects" class="link">Projects</a>
        <a href="https://docs.google.com/document/d/1W22Yck3hjbcy_dbC74TFCOrTlX-fIbaKtb0hDCDfFJg/edit?usp=sharing" class="cta-btn">Resume</a>
    </div>
</div>

    