---
layout: base.njk
title: Blog
pagination:
    data: collection.blog
    size: 3
    reverse: true
    alias: bloglist
---

<section class="bloglist">
<ul>
{% for blog in bloglist %}
  <li><a class="blog__url" href="{{ blog.url | url }}"><h2 class="the__title">{{ blog.data.title }}</h2></a>
  <span class="when__posted">Posted on <span class="why__me">{{ blog.date | readableDate }}</span> - by Charli</span>
  <article class="the__blog">{{ blog.templateContent | safe }}</article></li>
{% endfor %}
</ul>
</section>